/* Hero Section */
.hero-section {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.hero-content .main-h1{
  margin-bottom: 30px;
}
.hero-content p {
  max-width: 600px;
  margin-bottom: 30px;
}

@media (max-width: 1199.98px){
      .hero-container {
    padding: 50px 40px;
  }

  .hero-title {
    font-size: 3rem;
  }

}
@media (max-width: 767px) {
  .hero-content p {
    font-size: 1.1rem;
  }
}