.hero-section {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.hero-content .main-h1 {
    margin-bottom: 30px;
}

.hero-content p {
    max-width: 600px;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .hero-section {
        padding: 80px 0;
    }
}

@media (max-width: 767px) {
    .hero-section {
        padding: 60px 0 70px;
    }
}