/* FAQ Section */
.faq-section {
    padding-block: 120px 150px;
}

.faq-item {
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.faq-trigger {
    width: 100%;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    padding: 25px;
    border: none;
    text-align: left;
    display: flex;
    align-items: flex-start;
}

.faq-trigger:focus {
    border-color: transparent;
    box-shadow: none;
}

.faq-panel-body {
    padding: 0px 85px 25px;
}

.faq-panel {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-4px);
    transition: all 0.4s ease-in-out;
}

.faq-panel.open {
    max-height: 600px; /* large enough to fit content */
    opacity: 1;
    transform: translateY(0);
}

.faq-icon-img {
    width: 30px;
    min-width: 30px;
}

@media (max-width: 991px) {
    .faq-section {
        padding-block: 80px 100px;
    }
    .faq-accordion {
        gap: 20px;
    }
    .faq-trigger {
        padding: 22px;
        gap: 20px;
    }
    .faq-icon-img {
        width: 28px;
        min-width: 28px;
    }
    .faq-panel-body {
        padding: 0px 50px 25px 70px;
    }
}
@media (max-width: 767px) {
    .faq-section {
        padding: 70px 0;
    }
    .faq-trigger {
        font-size: 16px;
        padding: 20px;
    }
    .faq-panel-body {
        padding: 0px 20px 25px;
    }
}