/* FAQ Section */
.faq-section {
    padding-block: 120px 150px;
}

.faq-item {
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.faq-trigger {
    width: 100%;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    padding: 25px;
    border: none;
    text-align: left;
    display: flex;
    align-items: flex-start;
}

.faq-trigger:focus {
    border-color: transparent;
    box-shadow: none;
}

.faq-panel-body {
    padding: 0px 85px 25px;
}

.faq-panel {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-4px);
    transition: all 0.4s ease-in-out;
}

.faq-panel.open {
    max-height: 600px; /* large enough to fit content */
    opacity: 1;
    transform: translateY(0);
}

.faq-icon-img {
    width: 30px;
    min-width: 30px;
}

@media (max-width: 767px) {
    .faq-section {
        padding: 60px 0;
    }

    .accordion-button {
        font-size: 1rem;
        padding: 1.25rem 0.5rem 1.25rem 0;
    }

    .accordion-body {
        padding: 0 0 1.25rem 2rem;
    }

    .accordion-icon {
        margin-right: 12px;
        width: 20px;
        height: 20px;
    }
}