
.services-section {
    padding-block: 100px 150px;
}

.service-card {
    padding: 40px 0px;
    height: 100%;
}


.service-card h3 {
    margin-bottom: 1.5rem;
}

.service-card p {
    margin-bottom: 30px;
    color: #363636;
    font-weight: 600;
}
.service-card .list-item {
    list-style: none;
    position: relative;
    padding-left: 15px;
}

.service-card .list-item::before {
    content: url("../../assets/images/list-arr.svg");
    position: absolute;
    left: -32px;
    top: 4px;
    display: inline-block;
    width: 28px;
    height: 18px;
}

@media (max-width:991px){
    .services-section {
    padding-block: 100px 80px;
}
}


@media (max-width: 767px) {
    .service-card .list-item{
        font-size: 14px;
    }
    
}