/* Client Logos */
.client-logos {
    padding: 60px 0;
}

.client-logo-carousel {
    height: 75px;
}

.client-logo-carousel .swiper-wrapper {
    transition-timing-function: linear !important;
}

.client-logo-carousel .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.client-logo-carousel .logo-container {
    height: 100%;
    width: 100%;
}

.logo-container img {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.logo-container:hover img {
    opacity: 1;
}