@media (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .main-h1 {
      font-size: 45px;
  }
  .main-h2 {
      font-size: 40px;
  }
  .btn {
    font-size: 16px;
  }
  .footer-title {
    font-size: 2rem;
  }
  
  .footer-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .main-h1 {
      font-size: 30px;
  }
  .main-h2 {
      font-size: 32px;
  }
  .footer-section {
    padding: 60px 0 30px;
  }
  
  .footer-title {
    font-size: 1.8rem;
  }
  
  .footer-bottom-section {
    text-align: center;
  }
  
  .social-icons {
    justify-content: center;
  }
  
  .legal-links {
    justify-content: center;
  }
}