.pricing-section-new {
    padding: 150px 0;
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.feature-content strong {
    font-weight: 600;
    font-size: 18px;
}

.feature-content span {
    color: #4F5C62;
    font-size: 14px;
    line-height: 1.4;
}
.pricing-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns on desktop */
  gap: 30px;
}

@media (max-width: 991px) {
    .pricing-section-new {
    padding: 100px 0;
}
}

@media (max-width: 767px) {
    .pricing-section-new {
        padding: 50px 0;
    }
    .pricing-cols {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}