/* Stats Section */
.leads-hero-section {
    position: relative;
    padding: 0;
    padding-block: 150px;
}

.yellow-circle {
    top: -80px;
    right: 200px;
    z-index: 0;
}

.leads-container {
    background-image: url(../../assets/images/Mask-group-1.png);
    padding: 50px 60px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.leads-content {
    position: relative;
    z-index: 2;
}

.stats-grid {
    background: #161616;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    gap: 40px;
    padding: 50px;
    position: relative;
    z-index: 3;
}

.stat-number {
    font-size: 48px;
    font-weight: 600;
    color: var(--color-white);
    line-height: 1.1;
    margin-bottom: 0.5rem;
    letter-spacing: -0.02em;
}

.stat-label {
    font-size: 14px;
    color: var(--color-light-gray);
    font-weight: 400;
    line-height: 1.7em;
    text-align: center;
}

@media (max-width: 991px) {
    .leads-hero-section {
        padding-block: 150px 90px;
    }

    .leads-container {
        padding: 60px 30px;
    }

    .leads-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .yellow-circle {
        right: 100px;
    }
}

@media (max-width: 767px) {
    .leads-hero-section {
        padding-block: 90px 60px;
    }

    .leads-container {
        padding: 50px 20px;
    }

    .leads-title {
        font-size: 2rem;
        text-align: center;
    }

    .stats-grid {
        padding: 40px 30px;
    }

    .stat-number {
        font-size: 40px;
    }

    .stat-label {
        font-size: 14px;
    }

    .yellow-circle {
        top: -25px;
        right: -25px;
    }
}