/* CTA2.css */
.cta2-section {
    padding-block: 120px;
    background-color: rgb(231, 237, 240);
}

.cta2-content {
    position: relative;
}

.cta2-yellow-circle {
    position: absolute;
    width: 161px;
    left: 0px;
    bottom: 0px;
}

@media (max-width: 991px) {
    .cta2-section {
        padding-block: 90px;
    }
}
@media (max-width: 767px) {
    .cta2-section {
        padding-block: 70px;
    }
}