.footer-section {
    padding-block: 55px 40px;
    background-color: #fff;
}
.footer-row-1 {
    column-gap: 100px;
}
.phone-number,
.email {
    font-size: 16px;
    color: rgb(61, 61, 61);
}

.linkedin-badge {
    background: #fff;
    border-radius: 32px;
    /* fully rounded pill */
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.10), 0 0 1px 1px rgba(0, 0, 0, 0.04);
    padding: 12px 25px;
}

.linkedin-text {
    font-size: 16px;
    font-weight: 400;
    color: rgb(79, 92, 98);
}


.footer-legal-social {
    font-size: 14px;
    color: rgb(79, 92, 98);
}

.legal-links {
    gap: 24px;
}

.legal-links .legal-link {
    text-decoration: none;
    color: var(--color-gray);
    font-size: 14px;
}

.legal-links .legal-link:hover {
    text-decoration: underline;
}

.social-icons {
    gap: 12px;
}

.social-circle:hover {
    background-color: #dce3ea;
}
.footer-divider {
    height: 1px;
    background-color: #ebebeb;
}
.footer-section .copyright {
    font-size: 14px;
    color: var(--color-gray);
}