/* Client Logos */
.client-logo-carousel {
    height: 100px;
}

.client-logo-carousel .swiper-wrapper {
    transition-timing-function: linear !important;
}

.client-logo-carousel .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: visible;
    padding-top: 30px;
}

.client-logo-carousel .logo-container {
    height: 100%;
    width: 100%;
}

.logo-container img {
    filter: grayscale();
    transition: all 0.3s ease;
}

.logo-container:hover img {
    filter: none;
}

.logo-date {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-white);
    top: 0px;
    position: absolute;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-black);
    padding: 4px;
    transform: translatey(-10px);
    opacity: 0;
    transition: all 0.3s ease;
}

.logo-container:hover .logo-date {
    transform: translatey(0px);
    opacity: 1;
}